{
  "singleQuote": true,
  "parser": "typescript",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 130,
  "endOfLine": "auto",
  "proseWrap": "preserve",
  "jsxSingleQuote": false,
  "arrowParens": "always"
}
